@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Caveat:wght@400&display=fallback);
@font-face {
  font-family: "Orbiter";
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
  src: url(../fonts/OrbiterDisplay-Bold.woff) format("woff2");
}
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
::before,
::after {
  --tw-content: "";
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
}
body {
  margin: 0;
  line-height: inherit;
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}
:-moz-focusring {
  outline: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
dialog {
  padding: 0;
}
textarea {
  resize: vertical;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}
button,
[role="button"] {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
[hidden] {
  display: none;
}
[type="text"],
input:where(:not([type])),
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-shadow: 0 0 #0000;
}
[type="text"]:focus,
input:where(:not([type])):focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow);
  border-color: #2563eb;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #6b7280;
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  color: #6b7280;
  opacity: 1;
}
::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}
::-webkit-date-and-time-value {
  min-height: 1.5em;
  text-align: inherit;
}
::-webkit-datetime-edit {
  display: inline-flex;
}
::-webkit-datetime-edit,
::-webkit-datetime-edit-year-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute-field,
::-webkit-datetime-edit-second-field,
::-webkit-datetime-edit-millisecond-field,
::-webkit-datetime-edit-meridiem-field {
  padding-top: 0;
  padding-bottom: 0;
}
select {
  background-image: url(data:image/svg+xml,%3csvg\ xmlns=\'http://www.w3.org/2000/svg\'\ fill=\'none\'\ viewBox=\'0\ 0\ 20\ 20\'%3e%3cpath\ stroke=\'%236b7280\'\ stroke-linecap=\'round\'\ stroke-linejoin=\'round\'\ stroke-width=\'1.5\'\ d=\'M6\ 8l4\ 4\ 4-4\'/%3e%3c/svg%3e);
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
[multiple],
[size]:where(select:not([size="1"])) {
  background-image: initial;
  background-position: initial;
  background-repeat: unset;
  background-size: initial;
  padding-right: 0.75rem;
  -webkit-print-color-adjust: unset;
  print-color-adjust: unset;
}
[type="checkbox"],
[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: #2563eb;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  --tw-shadow: 0 0 #0000;
}
[type="checkbox"] {
  border-radius: 0px;
}
[type="radio"] {
  border-radius: 100%;
}
[type="checkbox"]:focus,
[type="radio"]:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow);
}
[type="checkbox"]:checked,
[type="radio"]:checked {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
[type="checkbox"]:checked {
  background-image: url(data:image/svg+xml,%3csvg\ viewBox=\'0\ 0\ 16\ 16\'\ fill=\'white\'\ xmlns=\'http://www.w3.org/2000/svg\'%3e%3cpath\ d=\'M12.207\ 4.793a1\ 1\ 0\ 010\ 1.414l-5\ 5a1\ 1\ 0\ 01-1.414\ 0l-2-2a1\ 1\ 0\ 011.414-1.414L6.5\ 9.086l4.293-4.293a1\ 1\ 0\ 011.414\ 0z\'/%3e%3c/svg%3e);
}
[type="radio"]:checked {
  background-image: url(data:image/svg+xml,%3csvg\ viewBox=\'0\ 0\ 16\ 16\'\ fill=\'white\'\ xmlns=\'http://www.w3.org/2000/svg\'%3e%3ccircle\ cx=\'8\'\ cy=\'8\'\ r=\'3\'/%3e%3c/svg%3e);
}
[type="checkbox"]:checked:hover,
[type="checkbox"]:checked:focus,
[type="radio"]:checked:hover,
[type="radio"]:checked:focus {
  border-color: transparent;
  background-color: currentColor;
}
[type="checkbox"]:indeterminate {
  background-image: url(data:image/svg+xml,%3csvg\ xmlns=\'http://www.w3.org/2000/svg\'\ fill=\'none\'\ viewBox=\'0\ 0\ 16\ 16\'%3e%3cpath\ stroke=\'white\'\ stroke-linecap=\'round\'\ stroke-linejoin=\'round\'\ stroke-width=\'2\'\ d=\'M4\ 8h8\'/%3e%3c/svg%3e);
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
[type="checkbox"]:indeterminate:hover,
[type="checkbox"]:indeterminate:focus {
  border-color: transparent;
  background-color: currentColor;
}
[type="file"] {
  background: unset;
  border-color: inherit;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-size: unset;
  line-height: inherit;
}
[type="file"]:focus {
  outline: 1px solid ButtonText;
  outline: 1px auto -webkit-focus-ring-color;
}
*,
::before,
::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
.cvn5f,
.cywrh,
.cuo5j,
.chqsj {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-shadow: 0 0 #0000;
}
.cvn5f:focus,
.cywrh:focus,
.cuo5j:focus,
.chqsj:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow);
  border-color: #2563eb;
}
.cvn5f::-moz-placeholder,
.cywrh::-moz-placeholder {
  color: #6b7280;
  opacity: 1;
}
.cvn5f::placeholder,
.cywrh::placeholder {
  color: #6b7280;
  opacity: 1;
}
.cvn5f::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}
.cvn5f::-webkit-date-and-time-value {
  min-height: 1.5em;
  text-align: inherit;
}
.cvn5f::-webkit-datetime-edit {
  display: inline-flex;
}
.cvn5f::-webkit-datetime-edit,
.cvn5f::-webkit-datetime-edit-year-field,
.cvn5f::-webkit-datetime-edit-month-field,
.cvn5f::-webkit-datetime-edit-day-field,
.cvn5f::-webkit-datetime-edit-hour-field,
.cvn5f::-webkit-datetime-edit-minute-field,
.cvn5f::-webkit-datetime-edit-second-field,
.cvn5f::-webkit-datetime-edit-millisecond-field,
.cvn5f::-webkit-datetime-edit-meridiem-field {
  padding-top: 0;
  padding-bottom: 0;
}
.cuo5j {
  background-image: url(data:image/svg+xml,%3csvg\ xmlns=\'http://www.w3.org/2000/svg\'\ fill=\'none\'\ viewBox=\'0\ 0\ 20\ 20\'%3e%3cpath\ stroke=\'%236b7280\'\ stroke-linecap=\'round\'\ stroke-linejoin=\'round\'\ stroke-width=\'1.5\'\ d=\'M6\ 8l4\ 4\ 4-4\'/%3e%3c/svg%3e);
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
.cuo5j:where([size]:not([size="1"])) {
  background-image: initial;
  background-position: initial;
  background-repeat: unset;
  background-size: initial;
  padding-right: 0.75rem;
  -webkit-print-color-adjust: unset;
  print-color-adjust: unset;
}
.c3kts,
.cfohq {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: #2563eb;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  --tw-shadow: 0 0 #0000;
}
.c3kts {
  border-radius: 0px;
}
.cfohq {
  border-radius: 100%;
}
.c3kts:focus,
.cfohq:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow);
}
.c3kts:checked,
.cfohq:checked {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.c3kts:checked {
  background-image: url(data:image/svg+xml,%3csvg\ viewBox=\'0\ 0\ 16\ 16\'\ fill=\'white\'\ xmlns=\'http://www.w3.org/2000/svg\'%3e%3cpath\ d=\'M12.207\ 4.793a1\ 1\ 0\ 010\ 1.414l-5\ 5a1\ 1\ 0\ 01-1.414\ 0l-2-2a1\ 1\ 0\ 011.414-1.414L6.5\ 9.086l4.293-4.293a1\ 1\ 0\ 011.414\ 0z\'/%3e%3c/svg%3e);
}
.cfohq:checked {
  background-image: url(data:image/svg+xml,%3csvg\ viewBox=\'0\ 0\ 16\ 16\'\ fill=\'white\'\ xmlns=\'http://www.w3.org/2000/svg\'%3e%3ccircle\ cx=\'8\'\ cy=\'8\'\ r=\'3\'/%3e%3c/svg%3e);
}
.c3kts:checked:hover,
.c3kts:checked:focus,
.cfohq:checked:hover,
.cfohq:checked:focus {
  border-color: transparent;
  background-color: currentColor;
}
.c3kts:indeterminate {
  background-image: url(data:image/svg+xml,%3csvg\ xmlns=\'http://www.w3.org/2000/svg\'\ fill=\'none\'\ viewBox=\'0\ 0\ 16\ 16\'%3e%3cpath\ stroke=\'white\'\ stroke-linecap=\'round\'\ stroke-linejoin=\'round\'\ stroke-width=\'2\'\ d=\'M4\ 8h8\'/%3e%3c/svg%3e);
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.c3kts:indeterminate:hover,
.c3kts:indeterminate:focus {
  border-color: transparent;
  background-color: currentColor;
}
.c1p4p {
  font-size: 3rem;
  line-height: 1;
  letter-spacing: -0.01em;
  font-weight: 700;
}
.c79zg {
  font-size: 1.5rem;
  line-height: 1.415;
  letter-spacing: -0.01em;
  font-weight: 700;
}
.c79je {
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
  font-weight: 700;
}
@media (min-width: 768px) {
  .c1p4p {
    font-size: 3.75rem;
    line-height: 1;
    letter-spacing: -0.01em;
  }
  .c79zg {
    font-size: 1.875rem;
    line-height: 1.333;
    letter-spacing: -0.01em;
  }
  .c79je {
    font-size: 1.5rem;
    line-height: 1.415;
    letter-spacing: -0.01em;
  }
}
.cy34g,
.crp2t {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: transparent;
  font-size: 0.875rem;
  line-height: 1.5715;
  font-weight: 500;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.cy34g {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.crp2t {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
.cvn5f,
.cywrh,
.chqsj,
.cuo5j,
.c3kts,
.cfohq {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-border-opacity));
  background-color: transparent;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow-color: rgb(0 0 0 / 0.05);
  --tw-shadow: var(--tw-shadow-colored);
}
.cvn5f:focus,
.cywrh:focus,
.chqsj:focus,
.cuo5j:focus,
.c3kts:focus,
.cfohq:focus {
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246 / var(--tw-border-opacity));
}
:is(.dark .cvn5f),
:is(.dark .cywrh),
:is(.dark .chqsj),
:is(.dark .cuo5j),
:is(.dark .c3kts),
:is(.dark .cfohq) {
  --tw-border-opacity: 1;
  border-color: rgb(51 65 85 / var(--tw-border-opacity));
}
:is(.dark .cvn5f:focus),
:is(.dark .cywrh:focus),
:is(.dark .chqsj:focus),
:is(.dark .cuo5j:focus),
:is(.dark .c3kts:focus),
:is(.dark .cfohq:focus) {
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246 / var(--tw-border-opacity));
}
.cvn5f,
.cywrh,
.chqsj,
.cuo5j {
  border-radius: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5715;
}
.cvn5f::-moz-placeholder,
.cywrh::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(148 163 184 / var(--tw-placeholder-opacity));
}
.cvn5f::placeholder,
.cywrh::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(148 163 184 / var(--tw-placeholder-opacity));
}
:is(.dark .cvn5f)::-moz-placeholder,
:is(.dark .cywrh)::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(71 85 105 / var(--tw-placeholder-opacity));
}
:is(.dark .cvn5f)::placeholder,
:is(.dark .cywrh)::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(71 85 105 / var(--tw-placeholder-opacity));
}
.cuo5j {
  padding-right: 2.5rem;
}
.c3kts,
.cfohq {
  border-radius: 0.125rem;
  border-width: 2px;
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}
.c06d3::-webkit-scrollbar {
  display: none;
}
.c06d3 {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.cvn5f:focus:focus,
.cywrh:focus:focus,
.chqsj:focus:focus,
.cuo5j:focus:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(191 219 254 / var(--tw-ring-opacity));
}
:is(.dark .cvn5f:focus:focus),
:is(.dark .cywrh:focus:focus),
:is(.dark .chqsj:focus:focus),
:is(.dark .cuo5j:focus:focus) {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}
.c3kts:focus:focus,
.cfohq:focus:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}
.chsm6 {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.c3gpz {
  pointer-events: none;
}
.clijb {
  visibility: visible;
}
.c7q6y {
  visibility: collapse;
}
.c1bvx {
  position: fixed;
}
.cnh8i {
  position: absolute;
}
.c95b3 {
  position: relative;
}
.cuzuh {
  inset: 0px;
}
.c7k6n {
  bottom: 0px;
}
.cmatm {
  left: 50%;
}
.cfxzy {
  top: 0px;
}
.c01bk {
  z-index: 30;
}
.c2g3a {
  z-index: 40;
}
.c5dnk {
  margin: 0.25rem;
}
.cm1n2 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}
.cryui {
  margin-left: auto;
  margin-right: auto;
}
.cnxmv {
  margin-top: -2rem;
}
.crz6l {
  margin-bottom: 0px;
}
.c0269 {
  margin-bottom: 0.125rem;
}
.ccj7u {
  margin-bottom: 0.25rem;
}
.c9a7b {
  margin-bottom: 0.5rem;
}
.ckqb6 {
  margin-bottom: 1rem;
}
.cthkv {
  margin-bottom: 1.25rem;
}
.cp1ev {
  margin-bottom: 1.5rem;
}
.c8yff {
  margin-bottom: 2rem;
}
.cavd8 {
  margin-left: 0.5rem;
}
.cn9nv {
  margin-left: 2rem;
}
.cy8j7 {
  margin-right: 1rem;
}
.c0gto {
  margin-top: 0px;
}
.cxsso {
  margin-top: 0.25rem;
}
.cyj2n {
  margin-top: 0.5rem;
}
.cw8x3 {
  margin-top: 0.75rem;
}
.c031d {
  margin-top: 1rem;
}
.cfbmf {
  margin-top: 1.5rem;
}
.c06yr {
  margin-top: 2rem;
}
.cntvh {
  display: block;
}
.cplyh {
  display: inline;
}
.c3wgq {
  display: flex;
}
.c4oh8 {
  display: inline-flex;
}
.clhmz {
  display: table;
}
.c0qtv {
  display: grid;
}
.cf0yw {
  display: none;
}
.cqctx {
  height: 4rem;
}
.ceaoi {
  height: 6rem;
}
.cqrkk {
  height: 2rem;
}
.cw17b {
  min-height: 100%;
}
.cyndk {
  min-height: 100vh;
}
.cgm94 {
  width: 50%;
}
.cw2jy {
  width: 2rem;
}
.ctcb3 {
  width: 1%;
}
.c3nel {
  width: 100%;
}
.c8fd7 {
  max-width: 56rem;
}
.ctmh8 {
  max-width: 28rem;
}
.c3stl {
  max-width: none;
}
.cve7d {
  max-width: 36rem;
}
.c7gxq {
  flex: 1 1 0%;
}
.c8e4r {
  flex-shrink: 0;
}
.cjhcr {
  flex-grow: 1;
}
.crktv {
  table-layout: auto;
}
.cjv2r {
  transform-origin: center;
}
.c1osd {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cvvie {
  --tw-translate-y: -16rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cr7q8 {
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.ct9cd {
  --tw-translate-x: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cmiqy {
  --tw-rotate: 180deg !important;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}
.cnx2z {
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.ceqi7 {
  --tw-scale-x: 0.95;
  --tw-scale-y: 0.95;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cfra5 {
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.c9wbd {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
@keyframes shine {
  0% {
    background-position: 150%0;
  }
  25% {
    background-position: -50%0;
  }
  100% {
    background-position: -50%0;
  }
}
.csepm {
  animation: shine 4s ease infinite;
}
.ci0lp {
  cursor: pointer;
}
.c132n {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.cghun {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.cjcpd {
  grid-template-rows: 0fr;
}
.ccoas {
  grid-template-rows: 1fr;
}
.chtv9 {
  flex-direction: column;
}
.ch9s8 {
  align-items: flex-start;
}
.c8ug7 {
  align-items: center;
}
.clkia {
  justify-content: flex-start;
}
.cb0b0 {
  justify-content: flex-end;
}
.cdl7m {
  justify-content: center;
}
.c3nxx {
  justify-content: space-between;
}
.cw4am {
  gap: 1rem;
}
.ckaxo {
  gap: 1.5rem;
}
.ckz2n > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}
.cfnv8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}
.ca0rk > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}
.czhfe > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}
.cvdyv > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(241 245 249 / var(--tw-divide-opacity));
}
.c5z2i {
  overflow: hidden;
}
.cmk4y {
  overflow-x: auto;
}
.cak22 {
  border-radius: 0.25rem;
}
.cb8ym {
  border-radius: 9999px;
}
.cli3j {
  border-radius: 0.5rem;
}
.c250n {
  border-radius: 0.375rem;
}
.cgihz {
  border-width: 1px;
}
.cfcwj {
  border-width: 0px;
}
.cpkxz {
  border-width: 2px;
}
.c20dg {
  border-bottom-width: 2px;
}
.czgw8 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
.c3a6s {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}
.c60cz {
  --tw-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-border-opacity));
}
.cd0o4 {
  --tw-border-opacity: 1;
  border-color: rgb(30 41 59 / var(--tw-border-opacity));
}
.c51kf {
  border-color: transparent;
}
.cx2jt {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}
.cfhjc {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
.ca8js {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}
.c1ajh {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}
.cj25x {
  --tw-bg-opacity: 1;
  background-color: rgb(10 10 10  / var(--tw-bg-opacity));
}
.ciqx9 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.c5bmk {
  --tw-bg-opacity: 0.8 !important;
}
.c70y9 {
  background-image: linear-gradient(
    100deg,
    #3b82f6,
    45%,
    #60a5fa,
    55%,
    #3b82f6
  );
}
.cb3fp {
  background-image: linear-gradient(to top right, var(--tw-gradient-stops));
}
.ceyck {
  --tw-gradient-from: #f1f5f9 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(241 245 249 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.cv4zd {
  --tw-gradient-from: #020617 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(2 6 23 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.ckzi6 {
  --tw-gradient-to: #f8fafc var(--tw-gradient-to-position);
}
.cd8bd {
  --tw-gradient-to: #1e293b var(--tw-gradient-to-position);
}
.cnzrq {
  background-size: 200% 100%;
}
.chpsw {
  fill: #fff;
}
.c16pd {
  fill: #94a3b8;
}
.c7yej {
  fill: #64748b;
}
.c2fzg {
  padding: 0.25rem;
}
.c81du {
  padding-left: 0px;
  padding-right: 0px;
}
.cty3q {
  padding-left: 0.125rem;
  padding-right: 0.125rem;
}
.cmboy {
  padding-left: 1rem;
  padding-right: 1rem;
}
.ce914 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.c5zg8 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.csh0a {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.cmea2 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.cqtii {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.cwapv {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.clkj5 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.cl0qm {
  padding-bottom: 5rem;
}
.czk5f {
  padding-bottom: 0.75rem;
}
.cdv0q {
  padding-top: 9rem;
}
.cy3zg {
  text-align: left;
}
.c1y31 {
  text-align: center;
}
.c4xcz {
  text-align: right;
}
.ceykk {
  font-family: Caveat, cursive;
}
.crsw4 {
  font-family: "Inter", sans-serif;
}
.ca8f3 {
  font-family: Orbiter, sans-serif;
}
.coark {
  font-size: 1.5rem;
  line-height: 1.415;
  letter-spacing: -0.01em;
}
.ckwqs {
  font-size: 1.875rem;
  line-height: 1.333;
  letter-spacing: -0.01em;
}
.csm01 {
  font-size: 2.25rem;
  line-height: 1.277;
  letter-spacing: -0.01em;
}
.csgoe {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
}
.coexk {
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
}
.cf7br {
  font-size: 0.875rem;
  line-height: 1.5715;
}
.cgmti {
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
}
.cggwu {
  font-size: 0.75rem;
  line-height: 1.5;
}
.cn4ul {
  font-weight: 700;
}
.c0rza {
  font-weight: 500;
}
.c9a2m {
  font-weight: 400;
}
.cse8i {
  font-weight: 600;
}
.cgd5g {
  font-style: italic;
}
.c0s9c {
  letter-spacing: -0.01em;
}
.cbc4f {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
.cj6wo {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}
.c4t4e {
  --tw-text-opacity: 1;
  color: rgb(16 185 129 / var(--tw-text-opacity));
}
.cr7cn {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.c6l43 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}
.cxzfs {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}
.cayl0 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}
.cd0z4 {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}
.c1zc3 {
  --tw-text-opacity: 1;
  color: rgb(226 232 240 / var(--tw-text-opacity));
}
.clsju {
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}
.ck3dd {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}
.csrkj {
  --tw-text-opacity: 1;
  color: rgb(30 41 59 / var(--tw-text-opacity));
}
.cqls2 {
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
}
.c25ay {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.cl8xh {
  text-decoration-line: underline;
}
.cv4ci {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cf9uk {
  opacity: 0;
}
.c89mp {
  opacity: 1;
}
.ckuce {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.csftd {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.cs9if {
  --tw-shadow-color: rgb(0 0 0 / 0.05);
  --tw-shadow: var(--tw-shadow-colored);
}
.crp9m {
  --tw-blur: blur(64px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.ca9ii {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.cc9s4 {
  --tw-backdrop-blur: blur(4px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
.ctfg7 {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.cj94y {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.c40y7 {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.cbzwq {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.ccw9u {
  transition-duration: 150ms;
}
.cw90s {
  transition-duration: 200ms;
}
.cpbcy {
  transition-duration: 300ms;
}
.cs091 {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.cuo9n {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
[x-cloak=""] {
  display: none;
}
.cf2k0::before {
  content: var(--tw-content);
  position: absolute;
}
.c7z6t::before {
  content: var(--tw-content);
  inset: 0px;
}
.cmv25::before {
  content: var(--tw-content);
  z-index: 20;
}
.cro1j::before {
  content: var(--tw-content);
  margin-right: 0.75rem;
}
.cv7r7::before {
  content: var(--tw-content);
  border-radius: 0.5rem;
}
.c0da4::before {
  --tw-content: "— ";
  content: var(--tw-content);
}
.c4o70::before {
  --tw-content: "✴︎";
  content: var(--tw-content);
}
.c510c::after {
  content: var(--tw-content);
  pointer-events: none;
}
.ccmto::after {
  content: var(--tw-content);
  position: absolute;
}
.cvjx5::after {
  content: var(--tw-content);
  inset: 0px;
}
.cb9a1::after {
  content: var(--tw-content);
  right: 0px;
}
.cm02q::after {
  content: var(--tw-content);
  top: 50%;
}
.c4mgb::after {
  content: var(--tw-content);
  display: flex;
}
.ci4c2::after {
  content: var(--tw-content);
  height: 2rem;
}
.cejkp::after {
  content: var(--tw-content);
  width: 1px;
}
.c82ek::after {
  content: var(--tw-content);
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cxhrl::after {
  content: var(--tw-content);
  align-items: center;
}
.c05fa::after {
  content: var(--tw-content);
  justify-content: flex-end;
}
.ce1a7::after {
  content: var(--tw-content);
  white-space: nowrap;
}
.cmj6x::after {
  content: var(--tw-content);
  border-radius: 0.5rem;
}
.c1zux::after {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}
.cl43r::after {
  content: var(--tw-content);
  background-image: linear-gradient(to left, var(--tw-gradient-stops));
}
.chq6w::after {
  content: var(--tw-content);
  --tw-gradient-from: #fff var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.cpdog::after {
  content: var(--tw-content);
  --tw-gradient-to-position: 50%;
}
.cc604::after {
  content: var(--tw-content);
  padding-right: 1rem;
}
.cc5np::after {
  content: var(--tw-content);
  font-weight: 500;
}
.ctazt::after {
  content: var(--tw-content);
  letter-spacing: 0;
}
.cotlx::after {
  content: var(--tw-content);
  --tw-text-opacity: 1;
  color: rgb(225 225 225 / var(--tw-text-opacity));
}
.cur3d::after {
  content: var(--tw-content);
  opacity: 0;
}
.cu92t::after {
  content: var(--tw-content);
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.c200e::after {
  content: var(--tw-content);
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.cpeoy::after {
  --tw-content: "Details ->";
  content: var(--tw-content);
}
.c7hd0:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.csyf2:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.c0ad6:nth-child(odd) {
  background-image: linear-gradient(to top right, var(--tw-gradient-stops));
}
.cl2gl:hover {
  --tw-border-opacity: 1;
  border-color: rgb(203 213 225 / var(--tw-border-opacity));
}
.c39l6:hover {
  --tw-border-opacity: 1;
  border-color: rgb(51 65 85 / var(--tw-border-opacity));
}
.cl7to:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}
.c0kcv:hover {
  background-image: none;
}
.c9744:focus {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}
.c0j8d:focus {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}
.csxt1:focus {
  --tw-border-opacity: 1;
  border-color: rgb(107 114 128 / var(--tw-border-opacity));
}
.cy374:focus {
  --tw-border-opacity: 1;
  border-color: rgb(165 180 252 / var(--tw-border-opacity));
}
.crfcp:focus {
  border-color: transparent;
}
.czaiu:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}
.c0cqq:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.c4n8l:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}
.c9rsn:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}
.cabpf:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}
.cui4l:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(0 0 0 / var(--tw-ring-opacity));
}
.cw434:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(107 114 128 / var(--tw-ring-opacity));
}
.cd0qq:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(199 210 254 / var(--tw-ring-opacity));
}
.cw6kq:focus {
  --tw-ring-opacity: 0.5;
}
.cfq45:focus {
  --tw-ring-offset-width: 0px;
}
.cjdsd:focus {
  --tw-ring-offset-width: 2px;
}
.cl5xa:disabled {
  cursor: not-allowed;
}
.cdoj2:disabled {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}
.c2e4s:disabled {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}
.c8jqf:disabled {
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.cbk2s:nth-child(odd) .czdqr::after {
  content: var(--tw-content);
  --tw-gradient-from: #f8fafc var(--tw-gradient-from-position);
  --tw-gradient-to: rgba(49, 49, 49, 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.cbk2s:hover .cvxez {
  opacity: 0;
}
.cbk2s:hover .cwoqp::after {
  content: var(--tw-content);
  opacity: 0;
}
.cbk2s:hover .c6wt9::after {
  content: var(--tw-content);
  opacity: 1;
}
.ccnbn:focus-visible ~ .cnm79 {
  outline-style: solid;
}
.ccnbn:focus-visible ~ .ctvap {
  outline-color: #3b82f6;
}
:is(.dark .cxu3o) {
  display: block;
}
:is(.dark .c4cjc) {
  display: none;
}
:is(.dark .c0k7l) > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(30 41 59 / var(--tw-divide-opacity));
}
:is(.dark .cxld8) {
  --tw-border-opacity: 1;
  border-color: rgb(51 65 85 / var(--tw-border-opacity));
}
:is(.dark .ci9vu) {
  --tw-border-opacity: 1;
  border-color: rgb(30 41 59 / var(--tw-border-opacity));
}
:is(.dark .c5879) {
  background-color: rgb(51 65 85/0.3);
}
:is(.dark .chfav) {
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity));
}
:is(.dark .c4k4g) {
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
}
:is(.dark .co13m) {
  --tw-bg-opacity: 1;
  background-color: rgb(10 10 10 / var(--tw-bg-opacity));
}
:is(.dark .cd8hs) {
  --tw-gradient-from: rgb(30 41 59 / 0.8) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(30 41 59 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
:is(.dark .c3ynp) {
  --tw-gradient-to: #0f172a var(--tw-gradient-to-position);
}
:is(.dark .cdmch) {
  fill: #64748b;
}
:is(.dark .c0axc) {
  --tw-text-opacity: 1;
  color: rgb(241 245 249 / var(--tw-text-opacity));
}
:is(.dark .cy976) {
  --tw-text-opacity: 1;
  color: rgb(226 232 240 / var(--tw-text-opacity));
}
:is(.dark .cxzkm) {
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}
:is(.dark .ci57k)::after {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity));
}
:is(.dark .csg48)::after {
  content: var(--tw-content);
  --tw-gradient-from: #000 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(10 10 10 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
:is(.dark .cnvgl:hover) {
  --tw-border-opacity: 1;
  border-color: rgb(51 65 85 / var(--tw-border-opacity));
}
:is(.dark .cfwqr:disabled) {
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity));
}
:is(.dark .cvt2p:disabled) {
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}
.cbk2s:nth-child(odd) :is(.dark .cs5fy)::after {
  content: var(--tw-content);
  --tw-gradient-from: #333333 var(--tw-gradient-from-position);
  --tw-gradient-to: rgba(31, 31, 31, 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
@media not all and (min-width: 1024px) {
  .cacuu {
    flex-grow: 1;
  }
}
@media (min-width: 480px) {
  .cbqix {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 640px) {
  .c2knu {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 768px) {
  .cwiz5 {
    height: 5rem;
  }
  .cie4h {
    max-width: 56rem;
  }
  .chm5x {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .cfbl1 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .c1f4m {
    position: fixed;
  }
  .c4ovs {
    position: absolute;
  }
  .ckv2c {
    inset: 0px;
  }
  .cuoln {
    top: 1.5rem;
  }
  .cp8ig {
    margin-bottom: 0px;
  }
  .c36e2 {
    margin-left: auto;
  }
  .ca5uj {
    width: 50%;
  }
  .c1om1 {
    max-width: calc(50% + 36rem);
  }
  .clz1d {
    flex-direction: row;
  }
  .cz3i2 {
    overflow-y: auto;
  }
  .cvidh {
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
  }
  .cnck3 {
    --tw-border-opacity: 1;
    border-color: rgb(226 232 240 / var(--tw-border-opacity));
  }
  .cty4y {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }
  .c4s1c {
    fill: #cbd5e1;
  }
  .c4q0w {
    fill: #94a3b8;
  }
  .c54n8 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .con84 {
    padding-bottom: 5rem;
  }
  .c9b8i {
    padding-top: 6rem;
  }
  .cabny:hover {
    --tw-border-opacity: 1;
    border-color: rgb(203 213 225 / var(--tw-border-opacity));
  }
}
.\[\&_\*\]\:\!transition-none * {
  transition-property: none !important;
}
