@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.loader {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
table {
  width: 100%;
  border-collapse: collapse;
}

/* Apply borders to th and td elements */
th, td {
  border: 1px solid #e2e8f0; 
  padding: 0.75rem;
}

/* #logo {
  font-family: "Cinzel Decorative", ser;
} */

iframe{
  width: 100%;
}

iframe[src*="youtube.com"] {
  width: 100%;
  height: 650px;
}

/* Adjust height for mobile devices */
@media only screen and (max-width: 768px) {
  iframe[src*="youtube.com"] {
    width: 100%;
    height: 300px;
  }
}
iframe[src*="tome.app"] {
  width: 100%;
  height: 650px;
}

/* Adjust height for mobile devices */
@media only screen and (max-width: 768px) {
  iframe[src*="tome.app"] {
    width: 100%;
    height: 300px;
  }
}
iframe[src*="grain.com"] {
  width: 100%;
  height: 650px;
}

/* Adjust height for mobile devices */
@media only screen and (max-width: 768px) {
  iframe[src*="grain.com"] {
    width: 100%;
    height: 300px;
  }
}

h1 {
  font-size: 2rem; /* Example font size for h1 */
}

h2 {
  font-size: 1.8rem; /* Example font size for h2 */
}

h3 {
  font-size: 1.5rem; /* Example font size for h3 */
}

h4 {
  font-size: 1.3rem; /* Example font size for h4 */
}

h5 {
  font-size: 1.25rem; /* Example font size for h5 */
}

h6 {
  font-size: 1rem; /* Example font size for h6 */
}

/* p {
  font-size: 1rem; 
} */

a {
  font-size: 1rem; /* Example font size for links */
  /* Additional styles for links if needed */
}

.jodit-react-container{
width: 100%;
}

/* @media (min-width: 769px) {
  #agency-content iframe {
    width: 50%;
    height: 400px;
  }
} */

.markmap {
  font-family: "Space Grotesk", sans-serif !important;
}

.ress div {
  width: 1.1rem;
  height: 4rem;
  background-color: #1c1c1c;
}
.ress div svg{
  width: 4rem;
  /* height: 4rem;
  wid
   */
   /* width: 40px; */
}

/* @media (min-width: 769px) {
  #accordians iframe {
    width: 100%;
    height: 400px;
  }
} */

body {
  color: #fff;
  background: #000;
    font-family: "Space Grotesk";
}

/* For WebKit-based browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #60606000;
}

::-webkit-scrollbar-thumb {
  background: #b3b3b3e2;
}

/* For Firefox */
::-moz-scrollbar {
  width: 2px;
}

::-moz-scrollbar-track {
  background: #60606000;
}

::-moz-scrollbar-thumb {
  background: #b3b3b3e2;
}

/* For IE and Edge */
scrollbar {
  width: 2px;
}

scrollbar-track {
  background: #606060bf;
}

scrollbar-thumb {
  background: #b3b3b3e2;
}


@media (min-width: 769px) {
  .smallimg {
    display: none;
  }
}

/* Hide desktop logo on smaller screens */
@media (max-width: 768px) {
  .bigimg {
    display: none;
  }
}

.pdf-viewer {
  position: fixed;
  top: 0;
  right: 0;
  width: 700px; /* Adjust the width as needed */
  height: 100%;
  background-color: black;
  z-index: 3000;
  overflow-y: auto;
  box-shadow: -25px 0 20px rgba(21, 21, 21, 0.8);
  /* border-left: 2px solid white; */

}

@media (max-width: 668px) {
  .pdf-viewer {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%; /* Adjust the width as needed */
    height: 100%;
    background-color: black;
    z-index: 3000;
    overflow-y: auto;
    box-shadow: -25px 0 20px rgba(21, 21, 21, 0.8);
    /* border-left: 2px solid white; */
  
  }
}

.pdf-header {
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pdf-iframe {
  width: 100%;
  height: calc(100% - 50px); /* Adjust the height as needed */
  border: none;
}


.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* font-family: "Aleo", serif; */
  /* background: radial-gradient(30deg, ); */
}

.book {
  position: relative;
  width: 450px;
  height: 600px;
  transition: transform 0.5s;
}


.paper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 1500px;
  

}

.front,
.back {
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s;
}

.front {
  z-index: 1;
  backface-visibility: hidden;
  border-left: 3px solid rgb(28, 28, 28);
}

.back {
  z-index: 0;
}

.front-content,
.back-content {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 20px;
}

.back-content {
  transform: rotateY(180deg)
}

.flipped .front,
.flipped .back {
  transform: rotateY(-180deg);
}


/* 

#p1 {
  z-index: 3;
}

#p2 {
  z-index: 2;
}

#p3 {
  z-index: 1;
} */


.react-pdf__Page__canvas{
  /* border-radius: 15px; */
  border-left: 2px solid black;
}


.webgl-viewer-navbar-button-view-on-prezi {
  display: none;
}

